<% include ../head.html %>
<% include nav.html %>
<div class="container container-main">
	<div class="page-header">
		<h3>我的公众号<small>（<%= list.length%>个）</small></h3>
	</div>
	<div class="row">
		<a class="mod-app app-add" href="/weixinAdd">
			<div class="thumbnail">
				<i class="fa fa-plus"></i>
			</div>
			<div class="caption">
				<h3>添加公众号</h3>
			 </div>
		</a>
		<% list.forEach(function(i){ %>
		<a class="mod-app" href="/first?email=<%=i.email%>">
			<div class="thumbnail">
			  <i><img src="<%=i.pic%> " width="70" height="70"></i>
			  <div class="caption">
				<h3><%=i.name%></h3>
				<small>粉丝：300</small>
			  </div>
			  <em class="fa fa-times" data-href="/weixinDel?id=<%=i._id%>"></em>
			</div>
		</a>
		<%})%>
	</div>
</div>
<% include ../foot.html %>