<% include ../head.html %>
<% include nav.html %>
<div class="container-fluid">
<div class="row">
	<% include sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">欢迎：carly，你已经有 5 个公众号，所属套餐：基础套餐！</h1>
		<div class="row">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="tab-material">
				<li role="presentation" class="active"><a href="#img" role="tab" data-toggle="tab">图片</a></li>
				<li role="presentation"><a href="#audio" role="tab" data-toggle="tab">语音</a></li>
				<li role="presentation"><a href="#video" role="tab" data-toggle="tab">视频</a></li>
			</ul>
			<div class="tab-content" id="tab-material-tabpanel">
				<div role="tabpanel" class="tab-pane active" id="img">
					<div class="row">
						<% list.forEach(function(v){ %>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
							  <img src="<%= v.url%>" height="50">
							</div>
						</div>
						<%})%>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="audio">
					<div class="row"></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="video">
					<div class="row"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<% include ../foot.html %>