<% include ../head.html %>
<% include nav.html %>
<div class="container-fluid">
<div class="row">
	<% include sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">欢迎：carly，你已经有 5 个公众号，所属套餐：基础套餐！</h1>
		<div class="row">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#pic" role="tab" data-toggle="tab">图片</a></li>
				<li role="presentation"><a href="#audio" role="tab" data-toggle="tab">语音</a></li>
				<li role="presentation"><a href="#video" role="tab" data-toggle="tab">视频</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="pic">
					000
				</div>
				<div role="tabpanel" class="tab-pane" id="audio">
					000
				</div>
				<div role="tabpanel" class="tab-pane" id="video">
					000
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<% include ../foot.html %>