<% include ../head.html %>
<% include nav.html %>
<div class="container-fluid">
<div class="row">
	<% include sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">欢迎：carly，你已经有 5 个公众号，所属套餐：基础套餐！</h1>
		<div class="row">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#singles" role="tab" data-toggle="tab">单图文</a></li>
				<li role="presentation"><a href="#multis" role="tab" data-toggle="tab">多图文</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="singles">
					<a href="/admin/single">+添加单图文</a>
					<ul>
					<% singles.forEach(function(v){ %>
						<li>
							<a href="/admin/single?id=<%= v._id%>"><%= v.title%></a>----<a href="/admin/delSingle?id=<%= v._id%>">删除</a>
						</li>
					<% }) %>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="multis">
					<a href="/admin/multi">+添加多图文</a>
					<ul>
					<% multis.forEach(function(v){ %>
						<li>
							<a href="/admin/multi?id=<%= v._id%>"><%= v.title%></a>----<a href="/admin/delMulti?id=<%= v._id%>">删除</a>
						</li>
					<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<% include ../foot.html %>