<% include ../head.html %>
<% include nav.html %>
<div class="container-fluid">
<div class="row">
	<% include sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">欢迎：carly，你已经有 5 个公众号，所属套餐：基础套餐！</h1>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#singles" role="tab" data-toggle="tab">单图文</a></li>
			<li role="presentation"><a href="#multis" role="tab" data-toggle="tab">多图文</a></li>
		</ul>
		<div class="tab-content tab-padding">
			<div role="tabpanel" class="tab-pane active" id="singles">
				<a href="/admin/single" class="btn btn-primary">+添加单图文</a>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>标题</th>
							<th>封面图</th>
							<th>摘要</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<% singles.forEach(function(v){ %>
						<tr>
							<td><a href="/admin/single?id=<%= v._id%>"><%= v.title%></a></td>
							<td><img src="<%= v.img%>" width="100"/></td>
							<td><%= v.des%></td>
							<td><a href="/admin/delMessage?id=<%= v._id%>#singles">删除</a></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="multis">
				<a href="/admin/multi" class="btn btn-primary">+添加多图文</a>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>标题</th>
							<th>封面图</th>
							<th>子图文</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<% multis.forEach(function(v){ %>
						<tr>
							<td><a href="/admin/multi?id=<%= v._id%>"><%= v.title%></a></td>
							<td><img src="<%= v.img%>" width="100"/></td>
							<td>
								<%= v.list%>
							</td>
							<td><a href="/admin/delMessage?id=<%= v._id%>#multis">删除</a></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</div>
<% include ../foot.html %>