<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand logo" href="#"></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">用户名 <span class="caret"></span></a>
		            <ul class="dropdown-menu" role="menu">
		              <li><a href="#">账户中心</a></li>
		              <li><a href="/repassword">修改密码</a></li>
		              <li><a href="/signout">退出</a></li>
		            </ul>
		          </li>
			</ul>
	  	</div>
	</div>
</nav>