<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li class="title"><a>素材库</a></li>
		<li <% if(page == 'key'){%>class="active"<%}%> ><a href="/admin/key">自动回复</a></li>
		<li <% if(page == 'message'){%>class="active"<%}%> ><a href="/admin/message">图文信息</a></li>
		<li <% if(page == 'material'){%>class="active"<%}%> ><a href="/admin/material">素材库</a></li>
	  </ul>
	  <ul class="nav nav-sidebar">
		<li class="title"><a>功能库</a></li>
		<li><a href="">微官网</a></li>
		<li><a href="">微会员</a></li>
		<li><a href="">微电商</a></li>
		<li><a href="#">微预定</a></li>
	  </ul>
	</div>