<script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
<script type="text/javascript" src="/javascripts/lib/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/admin.js"></script>
<!-- <script type="text/javascript" src="/javascripts/lib/require.js" data-main="/javascripts/admin"></script> -->
<script src="/javascripts/lib/jquery.hotkeys.js"></script>
<script src="/javascripts/lib/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/javascripts/lib/bootstrap-wysiwyg.js"></script>
</body>
</html>