<% include head.html %>
<div class="container">
	<form class="form-signin" method="post" action="repassword">
		<h2><img src="/images/logo.png"/><small>重置密码</small></h2>
		<label class="sr-only">邮箱</label>
		<input type="email" name="email" class="form-control" placeholder="example@qq.com">
		<label class="sr-only">新密码</label>
		<input type="password" name="pass" class="form-control" placeholder="******">
		<button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
	</form>
</div>
<% include foot.html %>