<div class="modal fade modal-tab" id="addWeixinModal" tabindex="-1" role="dialog" aria-labelledby="addWeixinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addWeixinModalLabel">添加公众号</h4>
      </div>
			<div class="modal-body">
				<iframe src="/weixinAdd" height="200"></iframe>
			</div>
		</div>
	</div>
</div>