<div role="tabpanel">
<ul class="nav nav-tabs nav-justified nav-pills" role="tablist">
	<li role="presentation" class="active"><a href="#materialsImg" aria-controls="materialsImg" role="tab" data-toggle="tab">从图片库选择</a></li>
	<li role="presentation"><a href="#uploadImg" aria-controls="uploadImg" role="tab" data-toggle="tab">本地上传</a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="materialsImg">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
					<img src="..." alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
					<img src="..." alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
					<img src="..." alt="...">
				</a>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="uploadImg">
		<iframe src="/mod/uploadImg" height="200" id="uploadImgIframe"></iframe>
	</div>
</div>
</div>