.article {
		padding: 0 5px;
		word-spacing: normal;
		word-break: normal;
		word-break: break-all;
}
.article .hd, .article .bd {
		padding: 5px;
		line-height: 20px;
		color: #333;
}
.article .hd {
		padding: 18px 5px 10px 5px;
		border-bottom: 1px dashed #333;
}
.article .hd h1 {
		font-size: 16px;
		font-weight: normal;
}
.article .hd small {
		font-size: 12px;
		color: #aaa;
}
.article img {
		max-width: 100%;
}
.article .bd ul, .article .bd ol {
		-webkit-padding-start: 20px;
}