body {
  padding-top: 50px;
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li.title > a {
  color: #999;
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: none;
  }
  .navbar-nav > li > .dropdown {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav > li > .dropdown > a {
    color: #9d9d9d;
    cursor: pointer;
  }
  .navbar-nav > li > .dropdown > a:hover {
    text-decoration: none;
    color: #fff;
  }
  .navbar-right {
    float: right !important;
    margin-right: 0;
  }
}
.sidebar {
  display: none;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.mod-weixin {
  width: 60px;
  float: left;
  margin: 10px;
}
.mod-weixin a {
  color: #333;
  text-align: center;
}
.mod-weixin a:hover {
  text-decoration: none;
}
.mod-weixin .weixinï¼add {
  width: 60px;
  height: 80px;
}
.page-header{overflow: hidden;}
iframe{border:0; background: transparent; width: 100%; overflow: hidden;}
.btn-file{position: relative; height: 34px; width: 100px; overflow: hidden;}
.btn-file input{
  opacity: 0;
  width: 200%;
  position: absolute;
  height: 200%;
  top:0;
  left: 0;
}
.modal-tab .modal-content{position: relative;}
.modal-tab .modal-header{padding: 0; border:0; min-height: 0;}
.modal-tab .modal-body{padding: 0;}
.modal-tab .nav-tabs.nav-justified > li > a{padding: 15px;}
.modal-tab .tab-content{padding: 15px;}
.modal-tab .tab-content .row{margin: 0; min-height: 1px;}

.tab-content.tab-padding{ padding: 20px 0;}

.bleak{
  opacity:0.3;
  cursor: pointer;
}
.bleak:hover,
.bleak.in{
  opacity:1;
}
.interhover .btn{display: none;}
.interhover:hover .btn{display: inline-block;}

.table-edit td{position: relative; overflow: hidden;}
.table-edit .table-edit-hide{
  display: none;
  position: absolute;
  top:0; left: 0; padding: 5px;
  background: #fff; width: 100%; height: 100%;
}
.table-edit .table-edit-hide.in{display: inline-block;}
.carousel-inner,
.carousel-inner .item{height: 100px;}
.carousel-caption{background: rgba(0,0,0,0.7); bottom: 0; padding: 5px; text-align: left; left: 0; width: 100%;}
.carousel-control {bottom: 30px;}
.slide{cursor: pointer;}

#page{position: relative;}
.mod-preview{
  display: inline-block;
  background-color: #444;
  border-radius: 103px;
  position: absolute;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 500%;
  position: absolute;
  margin-left: 0px;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
}
.mod-preview div::after, 
.mod-preview div::before {
  content: "";
  display: block;
  position: relative;
}
.mod-preview .buttons.top {
  background-color: #333;
  border-radius: 3px 3px 0 0;
  height: 9px;
  width: 16%;
  top: -8px;
  right: 17%;
  display: none;
}
.mod-preview .buttons.right {
  border-radius: 0 5px 5px 0;
  height: 135px;
  width: 6px;
  right: -5px;
  top: 360px;
}
.mod-preview .buttons {
  position: absolute;
  z-index: -1;
}
.mod-preview .buttons::before,
.mod-preview .buttons::after {
  background-color: #333;
}
.mod-preview .detail-top {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 56px;
  left: 50%;
  margin-left: -15px;
  top: 37px;
  width: 14px;
  height: 14px;
  margin-left: -7px;
}
.mod-preview .detail-bottom {
  border-radius: 50%;
  bottom: 44px;
  left: 50%;
  width: 125px;
  height: 125px;
  margin-left: -65px;
  width: 126px;
  height: 126px;
  margin-left: -63px;
  bottom: 36px;
}
.mod-preview .detail-top,
.mod-preview .detail-bottom{
  position: absolute;
  margin: 0 auto;
}

.mod-preview .buttons.left {
  border-radius: 5px 0 0 5px;
  height: 78%;
  width: 9px;
  position: absolute;
  height: 75px;
  width: 6px;
  left: -5px;
  top: 215px;
}
.mod-preview .detail-top,
.mod-preview .detail-top::before,
.mod-preview .detail-top::after,
.mod-preview .detail-bottom {
  border: 4px solid #333;
}