body {
  padding-top: 50px;
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li.title > a {
  color: #999;
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background: none;
  }
  .navbar-nav > li > .dropdown {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav > li > .dropdown > a {
    color: #9d9d9d;
    cursor: pointer;
  }
  .navbar-nav > li > .dropdown > a:hover {
    text-decoration: none;
    color: #fff;
  }
  .navbar-right {
    float: right !important;
    margin-right: 0;
  }
}
.sidebar {
  display: none;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.mod-weixin {
  width: 60px;
  float: left;
  margin: 10px;
}
.mod-weixin a {
  color: #333;
  text-align: center;
}
.mod-weixin a:hover {
  text-decoration: none;
}
.mod-weixin .weixinï¼add {
  width: 60px;
  height: 80px;
}
.page-header{overflow: hidden;}
iframe{border:0; background: transparent; width: 100%; overflow: hidden;}
.btn-file{position: relative; height: 34px; width: 100px; overflow: hidden;}
.btn-file input{
  opacity: 0;
  width: 200%;
  position: absolute;
  height: 200%;
  top:0;
  left: 0;
}
.modal-tab .modal-content{position: relative;}
.modal-tab .modal-header{padding: 0; border:0; min-height: 0;}
.modal-tab .modal-body{padding: 0;}
.modal-tab .nav-tabs.nav-justified > li > a{padding: 15px;}
.modal-tab .tab-content{padding: 15px;}
.modal-tab .tab-content .row{margin: 0; min-height: 1px;}

.tab-content.tab-padding{ padding: 20px 0;}