<% include ../../head.html %>
<% include ../nav.html %>
<div class="container-fluid">
<div class="row">
	<% include ../sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <h1 class="page-header"></h1>
	  <div class="row">
		<div class="mod-weixin">
				<a href="/weixin/add" class="thumbnail weixin－add">
				  + 添加公众号
				</a>
			</div>
			<% list.forEach(function(v){ %>
				<div class="mod-weixin">
					<a href="admin?email=<%=v.email%>" class="thumbnail">
					  <img src="<%= v.pic%>" alt="公众号1" width="60" height="60">
					  <span><%= v.name %></span>
					</a>
					<a href="/weixin/del?email=<%= v.email %>&pass=<%= v.pass %>">删除</a>
				</div>	 
			<% }) %>
	  </div>
	</div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">绑定公众号</h4>
			</div>
			<div class="modal-body">
				<p>url: http://carly.notes18.com/wechat</p>
				<p>token: layzer</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="uploadImgConfirm">确定</button>
			</div>
		</div>
	</div>
</div>
<% include ../../foot.html %>