<% include ../../head.html %>
<% include ../nav.html %>
<div class="container-fluid">
<div class="row">
	<% include ../sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">添加／编辑分类</h1>
		<div class="alert alert-info" role="alert">
			目前只支持一级分类。
		</div>
		<form class="form-horizontal" role="form" method='post'>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">分类名</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="name" value="<%= doc.name%>">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">上级分类</label>
				<div class="col-sm-7">
					<select class="form-control" name="parent" value="<%= doc.parent%>">
						<option value="0">无</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">描述</label>
				<div class="col-sm-7">
					<textarea class="form-control" name="des"><%= doc.des%></textarea>
				</div>
			</div>
			<div class="form-group">
				<input name="pic" type="hidden" id="uploadImgValueInput" value="<%= doc.pic%>"/>
				<label for="email" class="col-sm-2 control-label">缩略图</label>
				<div class="col-sm-7">
					<a class="btn btn-primary ajax-img" data-toggle="modal" data-target="#myModal" data-stage="1">选择图片</a>
					<img src="" id="uploadImgValueImg" width="50"/>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">图标</label>
				<div class="col-sm-7">
					<select class="form-control" name="icon" value="<%= doc.icon%>">
						<option value="0">无</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">页面类型</label>
				<div class="col-sm-7">
					<select class="form-control" name="type" value="<%= doc.type%>">
						<option value="0">频道</option>
						<option value="1">列表</option>
						<option value="2">文章</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-7 col-sm-offset-2"><input type="submit" value="保存" class="btn btn-primary"></div>
			</div>
		</form>
	</div>
</div>
</div>
<% include ../../mod/modal-uploadImg.html %>
<% include ../../foot.html %>