<% include ../../head.html %>
<% include ../nav.html %>
<div class="container-fluid">
<div class="row">
	<% include ../sidebar.html %>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header"></h1>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#base" aria-controls=="base" role="tab" data-toggle="tab">基础设置</a></li>
			<li role="presentation"><a href="#slide" aria-controls=="slide" role="tab" data-toggle="tab">幻灯片管理</a></li>
			<li role="presentation"><a href="#category" aria-controls=="category" role="tab" data-toggle="tab">分类管理</a></li>
		</ul>
		<div class="tab-content tab-padding">
			<div role="tabpanel" class="tab-pane active" id="base">
				<form class="form-horizontal" role="form" method='post'>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">官网标题</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="title" value="<%= wsite.title%>">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">官网模版</label>
						<div class="col-sm-7">
							<select class="form-control" name="template">
								<option>模版1</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">官网网址</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="url" value="<%= wsite.url%>" readonly>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">官网版权</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="copyright" value="<%= wsite.copyright%>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-sm-offset-2"><input type="submit" value="保存" class="btn btn-primary"></div>
					</div>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="slide">
				<p><a class="btn btn-primary" href="/admin/wsite/slide">添加幻灯片</a></p>
				<div class="row">
					<% slides.forEach(function(v, i){ %>
						<div class="col-sm-4">
							<div class="carousel slide" data-ride="carousel" id="carousel-example-generic<%= i%>" href="/admin/wsite/slide?id=<%=v._id%>">
								<ol class="carousel-indicators">
									<% v.list.forEach(function(m, n){ %>
									<li data-target="#carousel-example-generic<%= i%>" data-slide-to="<%= n%>" <%if(n==0){%>class="active"<%}%>></li>
									<%})%>
								</ol>
								<div class="carousel-inner" role="listbox">
									<% v.list.forEach(function(m, n){ %>
									<div class="item <%if(n==0){%>active"<%}%>>
										<img src="<%= m.img%>" alt="...">
										<div class="carousel-caption">
											<%= m.title%>
										</div>
									</div>
									<%})%>
								</div>
								<a class="left carousel-control" href="#carousel-example-generic<%= i%>" role="button" data-slide="prev">
									<span class="icon-angle-left icon-prev" aria-hidden="true"></span>
									<span class="sr-only">上一页</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic<%= i%>" role="button" data-slide="next">
									<span class="icon-angle-right icon-next" aria-hidden="true"></span>
									<span class="sr-only">下一页</span>
								</a>
							</div>
						</div>
					<%})%>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="category">
				<p><a class="btn btn-primary" href="/admin/wsite/category">添加分类</a></p>
			</div>
		</div>
	</div>
	</div>
</div>
<% include ../../foot.html %>