body, div, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, table, th, tr, thead, tbody, td, label {
	margin: 0;
	padding: 0
}
html, body {
	width: 100%;
	height: 100%;
	background: #f6f7fb;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none
}
html, body, button, input, select, textarea {
	font-size: 100%;
	color: #606060;
	font-family: Helvetica, Arial, Verdana, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
a {
	color: #606060;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent
}
em, i {
	font-style: normal
}
img {
	max-width: 100%;
	border: 0
}
input {
	-webkit-appearance: none
}
input:focus {
	border: 0;
	outline: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
ol, ul, li {
	list-style: none
}
textarea {
	resize: none
}
* {
	-webkit-tap-highlight-color: transparent
}
.disbox {
	display: -webkit-box;
	display: -moz-box;
	display: box
}
.clearfix {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden
}
.fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.fix {
	min-height: 1%
}
.g-top {
	background: #f6f7fb;
	position: relative;
	z-index: 9999
}
.g-top i {
	font-size: 1.1em
}
.g-top-main {
	height: 40px;
	overflow: hidden
}
.g-top h1 {
	line-height: 40px;
	text-align: center;
	color: #f60
}
.g-top-logo {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 80px;
	height: 40px;
	margin: 0 auto;
	background: url(../../../img/mobile/g/logo_cdf1efa.png) center center no-repeat;
	background-size: 65px;
	text-indent: -100%
}
.g-btn-badge {
	display: block;
	width: 8px;
	height: 8px;
	background: #d00;
	border: 1px solid #fff;
	border-radius: 8px;
	position: absolute;
	top: 7px;
	left: 25px
}
.g-btn-badge[data-count="0"], .g-btn-badge:not([data-count]) {
	display: none
}
.g-btn-back, .g-btn-sidebar, .g-btn-login {
	width: 40px;
	height: 40px;
	color: #565656;
	position: absolute;
	top: 0;
	left: 80px
}
.g-btn-sidebar i {
	display: block;
	margin: 11px 0 0 11px
}
.g-btn-login {
	left: auto;
	right: 0;
	line-height: 40px
}
.g-btn-login a {
	display: block;
	width: 24px;
	height: 24px;
	margin: 8px 0 0 8px
}
.g-btn-login a img {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box
}
.g-top-progress {
	width: 0;
	height: 3px;
	background: #f60;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s
}
.g-top-progress:after {
	content: '';
	width: 10px;
	height: 3px;
	border-radius: 3px;
	background: #f60;
	box-shadow: 2px 0 5px #f60;
	position: absolute;
	right: -2px;
	top: 0
}
.g-bot {
	padding: .7em 0 0;
	overflow: hidden;
	background: #e7ebec;
	border-top: 1px solid #dedede
}
.g-bot .link {
	text-align: center;
	margin-bottom: .6em
}
.g-bot .link li {
	display: inline-block;
	padding: 0 .6em;
	font-size: .95em
}
.g-bot .link li a {
	color: gray
}
.g-bot .copyright {
	text-align: center;
	color: #bdbdbd;
	font-size: .85em;
	margin-bottom: .7em
}
.g-bot #gBotAppDownload {
	color: #f80
}
.g-gotop {
	opacity: 0;
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 999;
	width: 48px;
	height: 48px;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.g-gotop b {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 48px;
	height: 48px;
	background: rgba(0, 0, 0, .5);
	-webkit-border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	border-radius: 4px;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}
.g-gotop i {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #fff;
	font-size: 2rem
}
.g-gotop.show {
	opacity: 1;
	pointer-events: auto
}
@font-face {
	font-family: tuiicon;
	src: url(/v3/dist/embed/fonts/tuiicon_b2bc3c2.woff) format('woff'), url(/v3/dist/embed/fonts/tuiicon_3b0fe43.ttf) format('truetype'), url(/v3/dist/embed/fonts/tuiicon_1afa67a.svg#tuiicon) format('svg');
	font-weight: 400;
	font-style: normal
}
.icon, .iconfont, [class^=icon-], [class*=" icon-"] {
	display: inline-block;
	font-family: tuiicon;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-fullscreen:before {
	content: "\e600"
}
.icon-cate:before {
	content: "\e602"
}
.icon-arr-right:before {
	content: "\e603"
}
.icon-arr-down:before {
	content: "\e604"
}
.icon-arr-left:before {
	content: "\e605"
}
.icon-i:before {
	content: "\e607"
}
.icon-download:before {
	content: "\e608"
}
.icon-add:before {
	content: "\e609"
}
.icon-eye:before {
	content: "\e60a"
}
.icon-menu:before {
	content: "\e60b"
}
.icon-bury:before {
	content: "\e60c"
}
.icon-dig:before {
	content: "\e60d"
}
.icon-yun:before {
	content: "\e60e"
}
.icon-help:before {
	content: "\e60f"
}
.icon-collect:before {
	content: "\e611"
}
.icon-history:before {
	content: "\e613"
}
.icon-vbtn:before {
	content: "\e614"
}
.icon-upload:before {
	content: "\e615"
}
.icon-video-manage:before {
	content: "\e616"
}
.icon-share:before {
	content: "\e61b"
}
.icon-setting:before {
	content: "\e61c"
}
.icon-search:before {
	content: "\e61d"
}
.icon-refresh:before {
	content: "\e61e"
}
.icon-playbtn:before {
	content: "\e621"
}
.icon-play:before {
	content: "\e622"
}
.icon-phone:before {
	content: "\e623"
}
.icon-pc:before {
	content: "\e624"
}
.icon-pause:before {
	content: "\e625"
}
.icon-pad:before {
	content: "\e626"
}
.icon-next:before {
	content: "\e629"
}
.icon-list:before {
	content: "\e62c"
}
.icon-trash:before {
	content: "\e62d"
}
.icon-info:before {
	content: "\e62f"
}
.icon-rss:before {
	content: "\e637"
}
.icon-comment:before {
	content: "\e63c"
}
.icon-addbtn:before {
	content: "\e63e"
}
.icon-x:before {
	content: "\e63f"
}
.icon-xbtn:before {
	content: "\e640"
}
.icon-arr-up:before {
	content: "\e641"
}
.icon-tv:before {
	content: "\e645"
}
.icon-right:before {
	content: "\e646"
}
.icon-right-circle:before {
	content: "\e647"
}
.icon-fav:before {
	content: "\e64b"
}
.icon-reply:before {
	content: "\e64c"
}
.icon-fullscreen.exit:before {
	content: "\e64e"
}
.icon-fullscreen-exit:before {
	content: "\e64e"
}
.icon-danmu:before {
	content: "\e652"
}
.icon-column:before {
	content: "\e653"
}
.icon-refresh:before {
	content: "\e65c"
}
.icon-hd:before {
	content: "\e65d"
}
.g-sidebar {
	width: 250px;
	height: 100%;
	background: #f6f7fb;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	pointer-events: none;
	opacity: 0
}
.g-sidebar a {
	color: #606060
}
.g-sideusr .user-view {
	padding: 13px;
	overflow: hidden;
	position: relative
}
.g-sideusr .user-icon, .g-sideusr .user-icon img {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 25px
}
.g-sideusr .user-info {
	margin: 0 50px 0 60px;
	font-size: 1em
}
.g-sideusr .user-info a {
	color: #f60
}
.g-sideusr .user-info p {
	display: block;
	font-size: .9em;
	color: gray;
	line-height: 1em
}
.g-sideusr .user-info p:first-child {
	height: 2em;
	font-size: 1em;
	color: #f60;
	line-height: 1.9em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.g-sideusr .user-info .user-count[data-count="0"]:after, .g-sideusr .user-info .user-count:not([data-count]):after {
	display: none
}
.g-sideusr .user-info .user-count:after {
	content: attr(data-count) '\4e2a\8ba2\9605'
}
.g-sideusr .login-view {
	padding-right: 0
}
.g-sideusr .login-view .user-info {
	margin-right: 0
}
.g-sideusr .login-view .user-info a {
	display: inline
}
.g-sideusr .login-view .user-info p {
	color: gray
}
.g-sideusr .logout {
	width: 38px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-size: .9rem;
	color: #999;
	border: 1px solid #d1d1d1;
	border-radius: 1px;
	position: absolute;
	left: 190px;
	top: 17px
}
.g-sidenav .navi-list {
	width: 230px;
	border: 1px solid #ddd;
	border-width: 1px 0;
	border-collapse: collapse
}
.g-sidenav .navi-list a {
	display: block;
	height: 45px;
	width: 210px;
	padding: 0 20px;
	font-size: .9em;
	line-height: 44px;
	color: #404040;
	overflow: hidden;
	word-break: break-all
}
.g-sidenav .navi-list b {
	padding-left: 5px;
	line-height: 44px;
	font-weight: 400;
	color: #afafaf;
	float: right;
	pointer-events: none
}
.g-sidenav .navi-list img {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 7px 0 -7px;
	border-radius: 14px;
	vertical-align: middle
}
.g-sidenav .navi-list li {
	height: 45px;
	border-top: 1px solid #e7ebec;
	position: relative
}
.g-sidenav .navi-list li:first-child {
	border-top: 0
}
.g-sidenav .navi-list li.current a {
	background: #f60;
	border: 1px solid #e04d00;
	border-width: 1px 0;
	color: #fff;
	position: relative;
	top: -1px;
	z-index: 1
}
.g-sidenav .navi-list li.current i, .g-sidenav .navi-list li.current b {
	color: #fec39c
}
.g-sidenav .navi-list b[data-count="0"]:after, .g-sidenav .navi-list b:not([data-count]):after {
	display: none
}
.g-sidenav .navi-list b:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: #f40723;
	color: #fff;
	margin-top: 18px;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box
}
.g-sidenav .navi-list b.count:after {
	content: attr(data-count);
	width: auto;
	padding: 0 8px;
	height: 21px;
	margin-top: 12px;
	line-height: 21px;
	-webkit-border-radius: 20px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 20px;
	-moz-background-clip: padding;
	border-radius: 20px;
	background-clip: padding-box
}
.g-sidenav .navi-list:last-child {
	border-bottom: 1px solid #e7ebec
}
.g-sidenav .navi-list i[class^=icon-] {
	width: 24px;
	height: 30px;
	margin: 0 5px 0 0;
	font-size: 1rem
}
.g-sidenav .navi-ch-all b {
	width: 17px;
	padding: 0
}
.g-sidenav .navi-ch-all i.icon-arr-down {
	margin: 0
}
.g-sidenav .navi-chs {
	width: 100%;
	margin-left: 50px;
	overflow: hidden
}
.g-sidenav .navi-chs li {
	float: left;
	width: 40%;
	font-size: .9em;
	line-height: 32px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-sidenav .navi-chs a {
	color: #404040
}
.g-sidenav .navi-menu {
	border-bottom: 0
}
.g-sidenav .navi-sublist {
	border: 0
}
.g-sidenav .navi-subtitle {
	padding: 15px 13px 7px;
	font-size: .9rem;
	color: #404040
}
.g-sidenav .navi-list .album {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	margin: 0 7px 0 -7px;
	background: #4d9bed;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box
}
.g-sidenav .navi-list .album i {
	margin: 0
}
.g-sidenav .navi-more {
	height: 20px;
	margin: 10px auto;
	text-align: center;
	font-size: .9rem
}
.g-sidenav .navi-loaded:after {
	content: '\6ca1\6709\66f4\591a\8ba2\9605';
	color: #afafaf
}
.g-sidenav .navi-loading:after {
	content: '\8ba2\9605\52a0\8f7d\4e2d...'
}
.g-sidenav .navi-submore {
	background: #e7ebec;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	font-size: .9rem;
	display: none
}
.g-sidenav .navi-subset {
	padding: 10px 20px;
	font-size: .9rem
}
.g-sidenav .navi-subset i {
	font-size: 1rem;
	margin-right: 15px
}
.g-side-bg {
	width: 250px;
	height: 120%;
	overflow: hidden;
	background: #f6f7fb;
	box-shadow: -3px 0 4px rgba(0, 0, 0, .07) inset;
	position: absolute;
	left: 0;
	top: 0
}
.g-side-scroll {
	width: 250px;
	overflow: hidden;
	position: relative
}
.g-side-ani {
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4s
}
.g-side-open {
	-webkit-transform: translateZ(0)
}
.g-sidebar-ani {
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4s;
	-webkit-transform: translate3d(-60%, 0, 0);
	-moz-transform: translate3d(-60%, 0, 0);
	-o-transform: translate3d(-60%, 0, 0);
	-ms-transform: translate3d(-60%, 0, 0);
	transform: translate3d(-60%, 0, 0)
}
.g-sidebar-on, .g-sidebar-disp {
	overflow: hidden
}
.g-sidebar-on .g-side-ani, .g-sidebar-on .g-side-open {
	-webkit-transform: translate3d(250px, 0, 0);
	-moz-transform: translate3d(250px, 0, 0);
	-o-transform: translate3d(250px, 0, 0);
	-ms-transform: translate3d(250px, 0, 0);
	transform: translate3d(250px, 0, 0)
}
.g-sidebar-on .g-sidebar {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: auto;
	overflow: visible
}
.g-sidebar-disp .g-sidebar {
	opacity: 1
}
.g-sidenav .navi-chs {
	height: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.g-sidenav .navi-chs-sec {
	height: 135px
}
.g-sidenav .navi-chs-on {
	height: 360px
}
.pad-view .g-sidebar, .pad-view .g-side-bg, .pad-view .g-side-scroll {
	width: 320px
}
.pad-view .g-sideusr .logout {
	left: 250px
}
.pad-view .g-sidenav .navi-list {
	width: 290px
}
.pad-view .g-sidenav .navi-list a {
	width: 270px;
	padding-right: 30px
}
.pad-view.g-sidebar-on .g-side-ani, .g-sidebar-on .pad-view .g-side-ani {
	-webkit-transform: translate3d(320px, 0, 0);
	-moz-transform: translate3d(320px, 0, 0);
	-o-transform: translate3d(320px, 0, 0);
	-ms-transform: translate3d(320px, 0, 0);
	transform: translate3d(320px, 0, 0)
}
.g-panel {
	min-width: 300px;
	background: rgba(255, 255, 255, .95);
	border-radius: 6px;
	position: fixed;
	top: 10px;
	left: -100%;
	z-index: 10000;
	-webkit-transform: translateZ(0)
}
.g-panel a {
	font-size: .95rem;
	color: gray
}
.g-panel div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-panel-fixed {
	margin: 0 auto;
	position: fixed;
	top: 50%
}
.g-panel-mask, .g-panel-mask-t, .g-panel-mask-w {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-transform: translateZ(0)
}
.g-panel-mask-w {
	background: rgba(255, 255, 255, .5)
}
.g-panel-mask-t {
	opacity: 0
}
.g-panel-main {
	min-height: 120px;
	position: relative;
	overflow: hidden
}
.g-panel-head {
	height: 40px;
	border-bottom: 1px solid #ccc;
	position: relative
}
.g-panel-head a {
	padding: 0 15px;
	line-height: 40px
}
.g-panel-title {
	line-height: 40px;
	text-align: center;
	color: #000
}
.g-panel-close {
	width: 24px;
	height: 25px;
	background: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 25px;
	border-radius: 14px;
	color: #000;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	overflow: hidden;
	position: absolute;
	right: -9px;
	top: -9px
}
.g-panel-action-l, .g-panel-action-r {
	position: absolute;
	top: 0;
	left: 0
}
.g-panel-action-r {
	left: auto;
	right: 0
}
.g-panel-action-r a {
	color: #f60
}
.g-dialog {
	min-width: 270px;
	width: 270px
}
.g-dialog .g-panel-main {
	padding: 30px 15px 60px;
	text-align: center;
	line-height: 1.3rem
}
.g-dialog .g-panel-left {
	text-align: left
}
.g-dialog .g-panel-button {
	width: 100%;
	height: 40px;
	border-top: 1px solid #ddd;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0
}
.g-dialog .g-panel-button a {
	float: left;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1rem;
	font-weight: 700;
	overflow: hidden;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-dialog .g-panel-button a:nth-child(2) {
	border-left: 1px solid #ddd
}
.g-dialog .g-panel-button a[data-role=ok] {
	color: #f60
}
.g-alert .g-panel-button a {
	width: 100%
}
.g-panel-third .g-panel-main {
	overflow: visible
}
.g-panel-pad {
	min-width: 480px
}
.g-notice {
	width: 100%;
	min-height: 35px;
	padding: 10px;
	background: #ffd;
	opacity: 0;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100001;
	-webkit-transform: translate3d(0, -45px, 0);
	-moz-transform: translate3d(0, -45px, 0);
	-o-transform: translate3d(0, -45px, 0);
	-ms-transform: translate3d(0, -45px, 0);
	transform: translate3d(0, -45px, 0);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}
.g-notice, .g-notice div {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-notice-fixed {
	position: fixed
}
.g-notice-close {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: .8rem;
	color: #999;
	position: absolute;
	right: 0;
	top: 0
}
.g-notice-on {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.g-notice-ltr {
	text-align: left
}
.g-notice-err {
	background: #fdd
}
.g-notice-suc {
	background: #efe
}
.g-notice-msg {
	font-size: .9rem;
	color: #404040
}
.g-panel-mask {
	background-color: rgba(0, 0, 0, .6)
}
.g-login.g-panel {
	background-color: #f6f7fb;
	padding-top: 5px
}
.g-login .help {
	padding: 10px 16px 16px;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
.g-login .help>div {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center
}
.g-login .help>div a {
	color: #F60;
	font-size: .875rem
}
.g-login .help>div:active {
	color: #F14700
}
.g-login .help .g-l-login {
	display: none
}
.g-login .g-panel-main input {
	display: block;
	width: 100%;
	height: 38px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: .9375rem;
	color: #404040;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0
}
.g-login .g-panel-main input.loginname {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 0
}
.g-login .g-panel-main input.password {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}
.g-login .g-panel-head {
	border-bottom: 0
}
.g-login .g-panel-head a {
	font-size: 1.0625rem
}
.g-login .g-panel-head .g-panel-title {
	font-size: 1.125rem
}
.g-login .g-panel-head .weibo {
	display: inline-block;
	width: 25px;
	background: url(/v3/dist/img/mobile/g//share-weibo_b7eb6f3.svg) no-repeat center 5px;
	background-size: contain;
	overflow: hidden;
	text-indent: -99rem;
	padding: 0;
	margin-right: 16px
}
.g-login .g-login-form {
	position: relative;
	padding: 3px 16px 10px
}
.g-login .g-login-form .captcha {
	position: absolute;
	top: 45px;
	right: 20px;
	display: block;
	width: 97px;
	height: 30px;
	line-height: 30px;
	background: #eee;
	color: #404040;
	text-align: center;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	font-size: .8125rem;
	display: none
}
.g-login .g-login-third {
	overflow: hidden;
	padding: 0 16px 10px
}
.g-login .g-login-third input[type=submit] {
	color: #FFF;
	background-color: #F60;
	border: 0;
	border-radius: 3px;
	font-size: 1.125rem
}
.g-login .g-login-third input[type=submit]:active {
	background-color: #F14700
}
.g-reg .g-panel-main {
	padding: 15px 15px 5px
}
.g-reg .g-panel-main input {
	display: block;
	width: 100%;
	margin: 0 0 9px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: .9rem;
	color: #404040;
	border-radius: 2px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-reg .g-panel-main input.validcode {
	width: 100px;
	float: left;
	margin-right: 5px
}
.g-reg .g-panel-main img {
	float: left;
	width: 100px;
	height: 30px
}
.g-login-bind {
	display: none;
	padding: 16px
}
.g-login-bind .third-name {
	margin-bottom: 16px;
	text-align: center;
	font-size: 1.125rem;
	color: #000
}
.g-login-bind .third-ts {
	font-size: .9375rem;
	color: #afafaf
}
.g-login-bind a {
	display: block;
	width: 100%;
	height: 32px;
	margin: 12px 0 20px;
	line-height: 32px;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box
}
.g-login-bind .third-login {
	background: #f60
}
.g-login-bind .third-bind {
	background: #37a4e3
}
.g-search {
	position: relative;
	width: 100%
}
.g-search.show {
	display: block
}
.g-search .g-search-form {
	position: relative;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 8px
}
.g-search .g-search-input {
	display: block;
	width: 100%;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px
}
.g-search .g-search-kw {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #dee2e5;
	border-right: 0;
	border-radius: 0
}
.g-search .g-search-btn {
	position: absolute;
	top: 5px;
	right: 8px;
	width: 40px;
	line-height: 28px;
	text-align: center;
	height: 28px;
	cursor: pointer;
	border: 0;
	background: #fff;
	border: 1px solid #dee2e5;
	border-left: 0
}
.g-search .g-search-btn i {
	font-size: 1.35rem
}
.g-search .g-search-cancel {
	display: none;
	position: absolute;
	top: 5px;
	left: 4px;
	font-size: .75rem;
	width: 40px;
	line-height: 30px;
	text-align: center;
	height: 30px;
	cursor: pointer
}
.g-search .g-search-form.current .g-search-input {
	padding-left: 40px;
	border-right: 0
}
.g-search .g-search-form.current .g-search-btn {
	background: #f60;
	border-color: #f60
}
.g-search .g-search-form.current .g-search-btn i {
	color: #fff
}
.g-search .g-search-form.current .g-search-cancel {
	display: block
}
.g-search .g-search-ex {
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-search .g-search-suggest {
	display: none;
	background: #f6f7fb
}
.g-search .g-search-suggest li {
	position: relative;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 15px;
	color: #606060;
	border-bottom: 1px solid #e9eaec
}
.g-search .g-search-suggest a {
	display: block;
	color: #606060
}
.g-search .g-search-suggest .i-icon {
	position: absolute;
	top: 7px;
	display: block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 20px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 20px;
	-moz-background-clip: padding;
	border-radius: 20px;
	background-clip: padding-box
}
.g-search .g-search-suggest a.i-play {
	right: 52px
}
.g-search .g-search-suggest a.i-search {
	right: 10px
}
.g-search .g-search-suggest a.i-userpic {
	right: 52px;
	-o-background-size: 30px;
	-webkit-background-size: 30px;
	-moz-background-size: 30px;
	background-size: 30px
}
.g-search .g-search-suggest i {
	margin: 0;
	text-align: center;
	line-height: 30px;
	color: #6f6f6f
}
.g-search .g-search-suggest li:active {
	background: #f6f7fb
}
.g-search .g-search-suggest li:active a {
	color: #f60
}
.g-search .g-search-suggest li:active i {
	color: #f60
}
.g-search .g-search-hot {
	display: none;
	background: #f6f7fb
}
.g-search .g-search-hot h3 {
	height: 30px;
	line-height: 30px;
	color: #858e93;
	text-align: center;
	font-size: .875rem
}
.g-search .g-search-hot ul {
	overflow: hidden;
	margin: 0 3px
}
.g-search .g-search-hot li {
	float: left;
	width: 33.333%;
	padding: 0 3px;
	margin-bottom: 8px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-search .g-search-hot a {
	display: block;
	overflow: hidden;
	height: 36px;
	padding: 0 3px;
	line-height: 36px;
	background: #fff;
	color: #606060;
	border: 1px solid #eaebed;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 5px;
	-moz-background-clip: padding;
	border-radius: 5px;
	background-clip: padding-box;
	font-size: .9375rem
}
.g-search .g-search-hot a:active {
	background: #f6f7fb;
	color: #f60
}
.g-search .g-search-history {
	display: none;
	background: #f6f7fb
}
.g-search .g-search-history h3 {
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 15px;
	color: #f60
}
.g-search .g-search-history a {
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 15px;
	color: #606060
}
.g-search .g-search-history a:active {
	background: #e7ebec;
	color: #f60
}
.g-search .g-search-history span {
	display: block;
	padding: 8px 0
}
.g-search .g-search-history .g-search-clear {
	display: block;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #eaebed;
	font-size: .75rem;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	cursor: pointer
}
.g-search-pad {
	position: absolute;
	top: 0;
	left: 160px;
	width: 60%;
	z-index: 9
}
.g-search-pad .g-search-form.current .g-search-input {
	padding-left: 0
}
.g-search-pad .g-search-form.current .g-search-cancel {
	display: none
}
.g-search-pad .g-search-ex {
	padding: 0 8px
}
.g-search-pad .g-search-suggest {
	display: none;
	border-right: 1px solid #e3e7ea;
	border-left: 1px solid #e3e7ea
}
.g-search-pad .g-search-hot {
	display: none;
	border-right: 1px solid #e3e7ea;
	border-left: 1px solid #e3e7ea
}
.g-search-pad .g-search-history {
	display: none;
	border-right: 1px solid #e3e7ea;
	border-left: 1px solid #e3e7ea
}
.g-guide {
	width: 100%;
	height: 100%;
	background: rgba(48, 60, 72, .7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	opacity: 0
}
.g-guide .i-know, .g-guide .i-text1, .g-guide .i-text2, .g-guide .i-text1:before, .g-guide .i-text2:before {
	background: url(../../../img/mobile/g/guide_7a984af.png);
	background-size: 500px;
	position: absolute
}
.g-guide .i-text1 {
	width: 140px;
	height: 35px;
	background-position: -250px -30px;
	left: 30px;
	top: 60px
}
.g-guide .i-text2 {
	width: 230px;
	height: 30px;
	background-position: -250px 0;
	left: 10%;
	top: 50%
}
.g-guide .i-text2:before {
	content: "";
	width: 50px;
	height: 55px;
	background-position: -150px 0;
	left: 0;
	top: -65px
}
.g-guide .i-know {
	width: 150px;
	height: 46px;
	margin-left: -75px;
	left: 50%;
	bottom: 10%
}
.g-guide .i-open {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0
}
.g-guide-show {
	opacity: 1;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s
}
.g-guide-peek .i-text1:before {
	content: "";
	width: 25px;
	height: 30px;
	background-position: -200px 0;
	left: 0;
	top: -30px
}
.g-guide-peek #indexAppRecom {
	display: none
}
@media screen and (orientation:landscape) {
	.g-guide .i-know {
		left: 75%;
		bottom: 19%
	}
	.g-guide .i-text2 {
		top: 70%
	}
}
.g-category {
	position: relative;
	height: 35px;
	margin-bottom: 8px
}
.g-category li {
	float: left;
	height: 35px;
	line-height: 35px;
	text-align: center
}
.g-category-parent {
	height: 35px;
	border-bottom: 2px solid #e3e7e9
}
.g-category-parent li {
	width: 20%;
	padding: 0 10px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.g-category-parent li a {
	display: block;
	width: 100%;
	color: #606060
}
.g-category-parent li.current a {
	border-bottom: 2px solid #f60
}
.g-category-child {
	position: absolute;
	top: 37px;
	left: 0;
	overflow: hidden;
	height: 0;
	z-index: 5;
	background: #f6f7fb;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.g-category-child li {
	width: 20%
}
.g-category-child.all {
	height: 140px;
	border-bottom: 2px solid #f60;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.gallery {
	position: relative;
	overflow: hidden;
	width: 100%
}
.gallery * {
	white-space: nowrap;
	text-overflow: ellipsis
}
.gallery:before {
	content: "";
	display: block;
	padding-top: 56.25%
}
.gallery .panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}
.gallery .panel .panel-child {
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	background: #fff
}
.gallery .panel .panel-child:before {
	content: "";
	display: block;
	padding-top: 56.25%
}
.gallery .panel .panel-child:nth-child(1) {
	-webkit-transform: translate3d(0, 0, 0)
}
.gallery .panel .panel-child .cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center
}
.gallery .panel .panel-child .bg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 50%)
}
.gallery .panel .panel-child .tit {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	padding: 0 5px;
	color: #fff;
	font-size: 1.2rem
}
.gallery .panel .panel-child .desc {
	overflow: hidden;
	width: 100%;
	height: 16px;
	color: #fff;
	margin-top: 4px;
	font-size: .875rem
}
.gallery .tab {
	overflow: hidden;
	width: 100%
}
.gallery .tab ul {
	text-align: center
}
.gallery .tab .tab-child {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 5px;
	vertical-align: middle;
	background: #96928f;
	line-height: 0;
	font-size: 0;
	-webkit-border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 6px;
	-moz-background-clip: padding;
	border-radius: 6px;
	background-clip: padding-box;
	cursor: pointer;
	text-indent: -9999px
}
.gallery .tab .current {
	background: #f60
}
.pack {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e7ebec
}
.pack * {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.pack .con {
	position: relative;
	background: #fff
}
.pack .con:before {
	content: "";
	display: block;
	padding-top: 56.25%
}
.pack.album .con:before {
	content: "";
	display: block;
	padding-top: 150%
}
.pack.lanmu .con:before {
	content: "";
	display: block;
	padding-top: 100%
}
.pack .cover {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	background-position: center center;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover
}
.pack .cover .sign {
	overflow: hidden;
	position: absolute;
	bottom: 4px;
	right: 4px;
	height: 18px;
	line-height: 18px
}
.pack .cover .sign .bg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .55)
}
.pack .cover .sign .i {
	position: relative;
	top: -2px;
	padding: 0 5px;
	line-height: 18px;
	font-size: .75rem;
	color: #fff
}
.pack .cover .pay {
	position: absolute;
	top: 4px;
	right: 4px;
	height: 18px;
	padding: 0 5px;
	background: #fa5f00;
	color: #fff;
	line-height: 18px;
	font-size: .75rem;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box
}
.pack .tit {
	overflow: hidden;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	background: #fff
}
.pack .tit h3 {
	overflow: hidden;
	height: 1.25rem
}
.pack .tit a {
	font-size: .875rem;
	color: #606060
}
.pack .tit p {
	font-size: .75rem;
	color: gray
}
.pack .tit p span.p {
	margin-right: 8px
}
.pack .bg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 30%)
}
.pack.playlist:after {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5
}
.pack .thumb {
	position: absolute;
	top: -20px;
	left: -4px;
	width: 100%;
	overflow: hidden
}
.pack .thumb .user {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background: #fff;
	vertical-align: top;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	border: 4px solid #f6f7fb
}
.pack .thumb a {
	font-size: .75rem
}
.pack.simple .tit {
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	background: 0;
	color: #fff;
	padding: 0 5px;
	font-size: .875rem
}
.pack.simple .desc {
	overflow: hidden;
	width: 100%;
	height: 16px;
	margin-top: 4px;
	font-size: .875rem;
	color: #fff
}
.pack-focus .pack.simple .tit {
	font-size: 1.2rem
}
.pack.square .con:before {
	content: "";
	display: block;
	padding-top: 100%
}
.pack.square .tit {
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	background: 0;
	color: #fff;
	padding: 0 5px;
	font-size: .875rem
}
.pack.square .desc {
	overflow: hidden;
	width: 100%;
	height: 16px;
	margin-top: 4px;
	font-size: .875rem;
	color: #fff
}
.pack-focus .pack.square .tit {
	font-size: 1.2rem
}
.section * {
	white-space: nowrap
}
.section .caption {
	position: relative;
	height: 24px;
	margin-bottom: 8px;
	line-height: 24px
}
.section .caption h2 {
	text-indent: 12px;
	color: #f60
}
.section .caption h2 a {
	color: #f60
}
.section .caption .more {
	position: absolute;
	top: 0;
	right: 12px;
	display: block;
	width: 16px;
	height: 24px;
	color: #606060
}
.section .content {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 8px
}
.section .pack-con {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 0 4px 8px
}
.section .pack-focus {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding: 0 4px 8px
}
.section .pack-user {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 20px 4px 8px
}
.section .content.time-line {
	position: relative;
	padding: 48px 8px 12px
}
.section .content.time-line .time-bg {
	position: absolute;
	top: 0;
	left: 32px;
	width: 1px;
	height: 100%;
	background: #afafaf
}
.section .content.time-line .time-bg.today {
	background: #f60
}
.section .content.time-line .time-point {
	position: absolute;
	top: 0;
	left: 12px;
	width: 40px;
	height: 40px;
	margin: 0 0 8px;
	background: #afafaf;
	color: #fff;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box
}
.section .content.time-line .time-point.today {
	background: #f60
}
.section .content.time-line .time-point {
	text-align: center
}
.section .content.time-line .time-point h3 {
	line-height: 22px;
	font-size: .875rem
}
.section .content.time-line .time-point span {
	display: block;
	font-size: .75rem
}
.section .sort {
	border-top: 1px solid #dce0e1
}
.section .sort dl {
	border-top: 1px solid #fff;
	padding-top: 16px
}
.section .sort dt {
	font-size: .875rem;
	color: #909098
}
.section .sort dd {
	overflow: hidden;
	padding: 6px 0;
	max-height: 80px
}
.section .sort dd a {
	font-size: .875rem;
	float: left;
	margin-right: 16px;
	padding: 6px 0
}
.section .sort.anime {
	border: 0
}
.section .sort.anime dl {
	border: 0;
	padding-top: 0;
	background: #fff url(http://css.tudouui.com/v3/dist/img/ch/bg_ct_36288.png) repeat-x
}
.section .sort.anime dd {
	margin: 12px
}
.vbg-size {
	background-size: 500px 60px
}
#indexAppRecom {
	overflow: hidden;
	width: 100%
}
.index-app-recom {
	width: 100%;
	height: 54px;
	background: #f1f1f1;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #ddd
}
.index-app-recom .close {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 3px;
	top: 2px;
	background: url(/v3/dist/img/mobile/ch2/v_93ad805.png) -470px 0 no-repeat;
	background-size: 500px 60px
}
.index-app-recom .app-logo {
	width: 40px;
	height: 40px;
	background: url(/v3/dist/img/mobile/ch2/tudou_db51000.png) center center;
	background-size: 40px;
	border-radius: 7px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	position: absolute;
	left: 27px;
	top: 7px
}
.index-app-recom .app-info {
	font-size: .85em;
	line-height: 1.4em;
	color: #afafaf;
	position: absolute;
	left: 73px;
	top: 10px
}
.index-app-recom .app-info strong {
	display: block;
	font-size: 1.1em;
	color: #FFF
}
.index-app-recom .app-info em {
	font-size: .8em;
	color: #FFF;
	font-style: normal;
	letter-spacing: 3px
}
.index-app-recom .app-tip {
	font-size: .8em;
	color: #FFF;
	font-style: normal;
	position: absolute;
	right: 5px;
	top: 5px
}
.index-app-recom .app-inst {
	width: 78px;
	height: 22px;
	text-align: center;
	font-size: .75em;
	line-height: 22px;
	color: #555;
	position: absolute;
	right: 5px;
	top: 25px;
	border: 1px solid #b5b5b5;
	border-radius: 3px
}
.index-app-recom .app-inst {
	background: #f70;
	color: #fff;
	border: 1px solid #f70
}
.g-subscribe {
	width: 300px
}
.g-subscribe .g-panel-main {
	padding: 30px 15px 0 100px;
	overflow: visible;
	word-break: break-all
}
.g-subscribe .g-panel-main h2 {
	padding: 0 0 15px;
	font-size: 1.2rem
}
.g-subscribe .g-panel-main p {
	padding: 0 0 10px;
	font-size: .95rem;
	line-height: 1.3rem
}
.g-subscribe .g-panel-main a {
	padding: 0 2px;
	color: #37a4e3
}
.g-subscribe .image {
	width: 100px;
	height: 120px;
	background: url(../../../img/mobile/g/dxj_85588df.png);
	background-size: 200px;
	position: absolute;
	top: -8px;
	left: -6px;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15)
}
.g-subscribe-fail .image {
	background-position: -100px 0
}
.gbtn_sub {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	font-size: .75rem
}
.gbtn_sub span {
	position: relative;
	display: inline-block;
	zoom: 1;
	width: 60px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	color: #fff;
	background: #37A4E3;
	border: 1px solid #37A4E3;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box
}
.gbtn_sub i {
	margin-right: 5px
}
.gbtn_sub .iconfont {
	padding-right: 2px;
	vertical-align: top;
	*vertical-align: middle
}
.gbtn_sub .s3 {
	display: none
}
.gbtn_sub.gbtn_subed span {
	border: 1px solid #ccc;
	color: #666;
	background: #eee
}
.gbtn_sub.gbtn_unsub span {
	border: 1px solid #d63c40;
	color: #fff;
	background: #d63c40
}
.gbtn_sub.gbtn_unsub .s2 {
	display: none
}
.gbtn_sub.gbtn_unsub .s3 {
	display: block
}
.gbtn_sub .num_l, .gbtn_sub .num_r {
	position: absolute;
	top: 0;
	right: 70px;
	width: auto;
	overflow: visible;
	line-height: 22px;
	height: 22px;
	padding: 0 7px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	background: #f8f8f8;
	color: #8f8f8f;
	cursor: text
}
.gbtn_sub .num_l .ac, .gbtn_sub .num_r .ac {
	position: absolute;
	right: -10px;
	top: 7px
}
.gbtn_sub .num_r .ac {
	left: -5px
}
.gbtn_sub .num_r {
	right: auto;
	left: 60px
}
.gbtn_sub .ac {
	border-color: transparent #d3d3d3 transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 4px 4px 4px 0;
	width: 0;
	height: 0;
	line-height: 0;
	z-index: 1
}
.gbtn_sub .ac i {
	border-color: transparent #f8f8f8 transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 4px 4px 4px 0;
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	left: 1px;
	top: -4px;
	z-index: 2
}
.gbtn_sub .num_l .ac {
	border-color: transparent transparent transparent #d3d3d3;
	border-style: dashed dashed dashed solid;
	border-width: 4px 0 4px 4px
}
.gbtn_sub .num_l .ac i {
	border-color: transparent transparent transparent #f8f8f8;
	border-style: dashed dashed dashed solid;
	border-width: 4px 0 4px 4px;
	left: -5px;
	top: -4px
}
.sub-user {
	float: left;
	width: 33.333%;
	padding: 0 4px 8px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.sub-user .sub-con {
	padding: 16px;
	background: #fff;
	border-bottom: 1px solid #e7ebec
}
.sub-user .sub-con h3 {
	overflow: hidden;
	font-size: .875rem;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis
}
.sub-user .sub-con .sub-pic {
	position: relative;
	margin: 8px 0 16px
}
.sub-user .sub-con .sub-pic:before {
	content: "";
	display: block;
	padding-top: 100%
}
.sub-user .sub-con .sub-btn {
	height: 24px;
	text-align: center
}
.sub-user .sub-con .pic {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 100%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 100%;
	-moz-background-clip: padding;
	border-radius: 100%;
	background-clip: padding-box;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover
}
.add-desktop {
	position: fixed;
	bottom: 15px;
	left: 50%;
	width: 210px;
	margin-left: -105px;
	background: #FFF;
	padding: 5px;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 5px;
	-moz-background-clip: padding;
	border-radius: 5px;
	background-clip: padding-box;
	font-size: .875rem;
	line-height: 1.25rem;
	z-index: 4;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5)
}
.add-desktop:before {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -12px;
	height: 14px;
	width: 14px;
	overflow: hidden;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5)
}
.add-desktop:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	height: 15px;
	width: 30px;
	overflow: hidden;
	background: #fff
}
.add-desktop .icon {
	float: left;
	display: block;
	width: 57px;
	height: 57px;
	background: url(/v3/dist/img/mobile/ch2/icon_35b75fd.png) no-repeat top center;
	background-size: cover;
	border-radius: 10px
}
.add-desktop .desc {
	float: left;
	margin-left: 10px;
	color: gray;
	position: relative;
	z-index: 2
}
.add-desktop .close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	z-index: 3
}
.add-desktop .icon-x {
	margin: 5px 0 0 10px;
	color: gray;
	cursor: pointer
}
.add-desktop .icon-x:before {
	content: "\e63f"
}
.add-desktop .upload {
	display: inline-block;
	height: 22px;
	width: 22px;
	background: url(/v3/dist/img/mobile/ch2/upload_0bb5b2e.svg) no-repeat;
	background-size: contain;
	vertical-align: bottom
}
@media screen and (device-width:768px) and (device-height:1024px) {
	.add-desktop {
		bottom: auto;
		top: 12px;
		left: 140px;
		z-index: 9999
	}
	.add-desktop:before {
		top: -7px;
		bottom: auto
	}
	.add-desktop:after {
		top: 0;
		bottom: auto
	}
}
.btn {
	display: block;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 0;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	background: #fff;
	font-size: .875rem;
	cursor: pointer
}
.btn-select {
	position: relative;
	display: block;
	padding: 0 20px 0 8px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 0;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	background: #fff;
	font-size: .875rem;
	cursor: pointer
}
.btn-select i {
	position: absolute;
	top: 10px;
	right: 6px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid dashed dashed;
	border-width: 4px 4px 0;
	border-color: transparent;
	border-top-color: #565656;
	text-align: center
}
.index {
	position: relative;
	background: #f6f7fb
}
.httpstatus {
	position: relative;
	margin-bottom: 40px
}
.httpstatus h4 {
	position: absolute;
	top: 35px;
	left: 20px;
	font-size: 1.5rem
}
.httpstatus p {
	position: absolute;
	top: 70px;
	left: 20px;
	font-size: 1.2rem
}
.httpstatus .cartoon {
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin-left: -55px;
	width: 109px;
	height: 114px;
	background: url(/v3/dist/img/mobile/ch2/cartoon_fb9fa8f.png) no-repeat;
	background-size: 109px 114px
}
.httpstatus .back {
	position: absolute;
	bottom: -20px;
	right: 40px;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #f15a24;
	color: #fff;
	-webkit-border-radius: 40px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 40px;
	-moz-background-clip: padding;
	border-radius: 40px;
	background-clip: padding-box;
	border: 5px solid #fff
}